lifeplanner/static
lifeplanner/media
lifeplanner/__pycache__/
*$py.class


# C extensions
*.so

*.sqlite3
media/
*.db


.idea/*

old_build/

*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env

venv